/* src/components/UnitToggle.css */
.unit-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

    .unit-toggle span {
        font-size: 1.2rem;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 74px; /* Adjust width of the toggle switch */
    height: 24px; /* Adjust height of the toggle switch */
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 12px; /* Adjust border-radius for a rounded appearance */
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px; /* Height of the knob */
        width: 18px; /* Width of the knob */
        left: 3px; /* Left position of the knob */
        bottom: 3px; /* Bottom position of the knob */
        background-color: white;
        transition: 0.4s;
        border-radius: 50%; /* Round knob */
    }

input:checked + .slider {
    background-color: #2196F3; /* Background color when toggle is on */
}

    input:checked + .slider:before {
        transform: translateX(30px); /* Move knob to the right when toggle is on */
    }
