body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: flex-start;
  background-color: #282c34;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex: 2;
    padding: 20px;
    border-bottom: 1px solid #ccc; /* Add border to separate main content and sidebar */
}

.sidebar {
    padding: 20px;
}

@media only screen and (min-width: 600px) {
    .container {
        flex-direction: row; /* Change to row layout on larger screens */
    }

    .main-content {
        border-bottom: none; /* Remove the border at the bottom */
        border-right: 1px solid #ccc; /* Add border to separate main content and sidebar */
    }

    .sidebar {
        display: block; /* Show the sidebar on larger screens */
        flex: 1; /* Take up equal space as main content */
    }
}


.weather-icon {
  width: 100px;
  height: 100px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #21a1f1;
}

.hourly-row, .daily-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.hourly-row img, .daily-row img {
  width: 30px;
  height: 30px;
}

.unit-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.unit-toggle span {
  margin: 0 10px;
  font-size: 1.2rem;
}

.temperature-details p {
  margin: 0.2px 0; /* Adjust the margin between High and Low temperatures */
}

.condition-text {
  word-wrap: break-word; /* Allow long words to break and wrap to the next line */
}

.condition-text-hour {
  max-width: 50px; /* Limit the width of the container to prevent overflow */
}

.condition-text-day {
  max-width: 60px; /* Limit the width of the container to prevent overflow */
}
